.logo {
    color:white;
    margin-right: 20px;
}

.fa-map {
    color: white;
}

.heroimage {
    background-image: url(../images/hero.jpg);
    height: 1000px;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
}